<div class="banner-w3agile">
  <div class="container">
    <h3>
      <span>
        <h4><%= t ".level_questions" %></h4>
      </span>
    </h3>
  </div>
</div>
<div class="row">
  <div class="containe">
    <div class="col-md-12 contact-left cont">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr class="info">
            <th><%= t ".question_content" %></th>
            <th><%= t ".subject" %></th>
            <th><%= t ".level" %></th>
            <th class="text-center" colspan="2"><%= t ".actions" %></th>
          </tr>
        </thead>
        <tbody class="level-index">
        <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.content, [:admin, question] %></td>
            <td><%= @level.subject.name %></td>
            <td><%= question.level.name %></td>
            <td class="text-center">
              <div class="btn-group" role="group">
              <%= link_to image_tag("edit.png",
                class:"img-responsi"), edit_admin_question_path(question.id) %>
              </div>
            </td>
            <td class="text-center">
              <div class="btn-group" role="group">
              <%= link_to image_tag("delete.png",
                class:"img-responsi"), admin_questions_path,
                  method: :delete,
                  data: {confirm: t(".delete_subject_confirm")}%>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <div id="question-modal" class="modal fade"></div>
    </div>
  </div>
</div>
