<% @questions.each do |question| %>
  <tr>
    <td><%= link_to question.content, [:admin, question] %></td>
    <td><%= question.level.subject.name %></td>
    <td><%= question.level.name %></td>
    <td class="text-center">
      <div class="btn-group" role="group">
      <%= link_to image_tag("edit.png",
        class:"img-responsi"), edit_admin_question_path(question.id) %>
      </div>
    </td>
    <td class="text-center">
      <div class="btn-group" role="group">
      <%= link_to image_tag("delete.png",
        class:"img-responsi"), admin_question_path(question.id),
          method: :delete, data: {confirm: t(".delete_question_confirm")}%>
      </div>
    </td>
  </tr>
<% end %>
