<div class="banner-w3agile">
   <div class="container">
    <h3>
      <span>
        <%= link_to t(".new_question"), new_admin_question_path,
      class: "btn btn-primarys" %>
      </span>
    </h3>
  </div>
</div>
<div class="containe">
  <div class="col-md-12">
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
          <tr class="info">
            <th class="text-center"><%= t ".content" %></th>
            <th class="text-center"><%= t ".subject" %></th>
            <th class="text-center"><%= t ".level" %></th>
            <th class="text-center" colspan="2"><%= t ".actions" %></th>
          </tr>
        </thead>
        <tbody class="level-index">
          <%= render "list" %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @questions %>
  </div>
</div>
